.ant-btn-icon {
	display: flex;
	justify-content: center;
	align-items: center;
}

.ant-switch-inner-checked {
	display: flex !important;
	align-items: center;
	justify-content: center;
}

.ant-switch-inner-unchecked {
	display: flex !important;
	align-items: center;
	justify-content: center;
}
