@import url(./var.scss);

body {
	overflow: hidden;
	position: relative;
	background: transparent;
	backdrop-filter: blur(2px);
	-webkit-backdrop-filter: blur(2px); /* Safari 浏览器兼容前缀 */
	&::before {
		content: "";
		position: absolute;
		top: -17%;
		left: -18%;
		width: 100%;
		height: 300px; /* 光晕的高度 */

		/* 核心：用径向渐变画一个球，然后用 blur 把它晕开 */
		background: radial-gradient(circle, var(--p300) 0%, transparent 100%);
		filter: blur(900px); /* 关键！高斯模糊让边缘极其柔和 */

		z-index: -20; /* 确保它在内容下面，但在背景上面（如果背景在body上） */
		pointer-events: none; /* 让鼠标点击穿透，不影响交互 */
	}

	&::after {
		content: "";
		position: absolute;
		bottom: -17%; /* 往上提一点，让光源看起来在屏幕外 */
		right: -27%;
		width: 100vw; /* 光晕的宽度 */
		height: 300px; /* 光晕的高度 */

		/* 核心：用径向渐变画一个球，然后用 blur 把它晕开 */
		background: radial-gradient(circle, var(--p300) 0%, transparent 100%);
		filter: blur(900px); /* 关键！高斯模糊让边缘极其柔和 */

		z-index: -20; /* 确保它在内容下面，但在背景上面（如果背景在body上） */
		pointer-events: none; /* 让鼠标点击穿透，不影响交互 */
	}
}

.dark body {
	background-color: rgb(10, 10, 10);
}

/* ===================== header ===================== */
.ant-layout-header {
	box-shadow: 0 8px 30px 0 rgba(37, 119, 245, 0.1);
}

/* ===================== table ===================== */
.ant-table-wrapper {
	.ant-table-thead tr th {
		color: #888 !important;
		font-size: 12px;
		background-color: var(--sec-bg) !important;
	}
}

.ant-table-body {
	scrollbar-width: thin;
	scrollbar-color: transparent transparent; /* 滑块颜色 轨道颜色 */
	transition: all ease 0.3s;
	&:hover {
		scrollbar-color: rgb(205, 203, 203, 0.5) transparent; /* 滑块颜色 轨道颜色 */
	}
}

.dark {
	.ant-table-body {
		&:hover {
			scrollbar-color: #626262 transparent; /* 滑块颜色 轨道颜色 */
		}
	}
}

.ant-select-auto-complete {
	.ant-select-content {
		height: 40px !important;
	}
}

/* ===================== form-item ===================== */
.ant-select,
.ant-input-affix-wrapper,
.ant-input-number,
.ant-picker {
	outline: 2px solid transparent;
	background-color: var(--input-bg);
	&:hover {
		background-color: var(--input-hover-bg);
		border-color: var(--input-hover-border);
	}
}

.ant-select-focused,
.ant-input-affix-wrapper-focused,
.ant-input-number-focused,
.ant-picker-focused {
	outline: 2px solid var(--p) !important;
}

.ant-input {
	outline: 2px solid transparent;
	background-color: var(--input-bg);
	&:hover {
		background-color: var(--input-hover-bg);
		border-color: var(--input-hover-border);
	}

	&:focus {
		outline: 2px solid var(--p);
	}
}

.ant-select-auto-complete {
	.ant-select-content {
		height: 32px;
	}
}

input:-webkit-autofill {
	-webkit-box-shadow: none !important;
}

.dark {
	.ant-select,
	.ant-input-affix-wrapper,
	.ant-input-number,
	.ant-picker,
	.ant-input {
		color: #fafafa;
	}
}

/* ===================== card ===================== */
.ant-card {
	box-shadow: 0 2px 12px 0 rgba(37, 119, 245, 0.08);
}

/* ===================== button ===================== */
.ant-btn-primary {
	// background: linear-gradient(280deg, var(--theme-primary), #04befe);
	&:hover {
		box-shadow: 0 2px 12px 0 rgba(37, 119, 245, 0.4) !important;
	}
}

/* ===================== form ===================== */
.ant-form {
	.ant-form-item {
		.ant-form-item-label > label {
			color: #555;
			font-weight: 600;
		}
	}
}

.dark .ant-form {
	.ant-form-item {
		.ant-form-item-label > label {
			color: white !important;
			font-weight: 400 !important;
		}
	}
}

/* ===================== 调整 Ant 组件样式 ===================== */

.ant-btn-icon {
	display: flex;
	justify-content: center;
	align-items: center;
}

.ant-switch-inner-checked {
	display: flex !important;
	align-items: center;
	justify-content: center;
}

.ant-switch-inner-unchecked {
	display: flex !important;
	align-items: center;
	justify-content: center;
}

/* ===================== 侧边栏 ===================== */
.side-menu-item-scroller {
	/* 更好看的滚动条  */
	&::-webkit-scrollbar {
		width: 2px;
	}

	&::-webkit-scrollbar-corner,
	/* 滚动条角落 */
	::-webkit-scrollbar-track {
		border-radius: 4px;
	}

	&::-webkit-scrollbar-thumb {
		background-color: rgba($color: #b7b2b2, $alpha: 0.3) !important;
	}
}

.dark .side-menu-item-scroller {
	&::-webkit-scrollbar-thumb {
		background-color: rgba($color: #b7b2b2, $alpha: 0.3) !important;
	}
}
