.ant-btn-icon {
	display: flex;
	justify-content: center;
	align-items: center;
}

.ant-switch-inner-checked {
	display: flex !important;
	align-items: center;
	justify-content: center;
}

.ant-switch-inner-unchecked {
	display: flex !important;
	align-items: center;
	justify-content: center;
}

.menu-wrap {
	/* 更好看的滚动条  */
	&::-webkit-scrollbar {
		width: 2px;
	}

	&::-webkit-scrollbar-corner,
/* 滚动条角落 */
::-webkit-scrollbar-track {
		border-radius: 4px;
	}

	&::-webkit-scrollbar-thumb {
		background-color: rgba($color: #b7b2b2, $alpha: 0.3) !important;
	}
}
