html {
	--input-bg: transparent;
	--input-hover-bg: rgb(232, 232, 232, 0.4);
	--input-hover-border: #e5e7eb;
	.dark {
		--input-bg: rgb(33, 33, 33);
		--input-hover-bg: rgb(40, 40, 40);
		--input-hover-border: #434343;
	}
}
